@charset "UTF-8";

/* agorapulse */
@font-face {
    font-family: "agorapulse";
    src:url("/assets/fonts/fontastic/agorapulse.eot");
    src:url("/assets/fonts/fontastic/agorapulse.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/fontastic/agorapulse.woff") format("woff"),
    url("/assets/fonts/fontastic/agorapulse.ttf") format("truetype"),
    url("/assets/fonts/fontastic/agorapulse.svg#1") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "agorapulse" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ap-"]:before,
[class*=" ap-"]:before {
    font-family: "agorapulse" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ap-user:before {
    content: "\61";
}
.ap-publish:before {
    content: "\62";
}
.ap-mail:before {
    content: "\63";
}
.ap-talk:before {
    content: "\64";
}
.ap-alert:before {
    content: "\65";
}
.ap-settings:before {
    content: "\66";
}
.ap-win:before {
    content: "\67";
}
.ap-calendar-day:before {
    content: "\68";
}
.ap-camera:before {
    content: "\69";
}
.ap-user-2:before {
    content: "\6b";
}
.ap-two-users:before {
    content: "\6c";
}
.ap-lock:before {
    content: "\6d";
}
.ap-user-add:before {
    content: "\6e";
}
.ap-user-less:before {
    content: "\6f";
}
.ap-user-valid:before {
    content: "\70";
}
.ap-user-delete:before {
    content: "\71";
}
.ap-link:before {
    content: "\72";
}
.ap-filter:before {
    content: "\73";
}
.ap-close:before {
    content: "\74";
}
.ap-heart:before {
    content: "\75";
}
.ap-geo:before {
    content: "\76";
}
.ap-direct:before {
    content: "\77";
}
.ap-move:before {
    content: "\79";
}
.ap-arrow:before {
    content: "\7a";
}
.ap-check:before {
    content: "\41";
}
.ap-cross-border:before {
    content: "\42";
}
.ap-validate-border:before {
    content: "\43";
}
.ap-add-border:before {
    content: "\44";
}
.ap-less-border:before {
    content: "\45";
}
.ap-error:before {
    content: "\46";
}
.ap-add:before {
    content: "\47";
}
.ap-post:before {
    content: "\4a";
}
.ap-refresh:before {
    content: "\48";
}
.ap-order-down:before {
    content: "\49";
}
.ap-test-refresh:before {
    content: "\4b";
}
.ap-twitter:before {
    content: "\4c";
}
.ap-instagram:before {
    content: "\4d";
}
.ap-facebook:before {
    content: "\4e";
}
.ap-linkedin:before {
    content: "\4f";
}
.ap-test-2:before {
    content: "\50";
}
.ap-test-5:before {
    content: "\51";
}
.ap-mention:before {
    content: "\52";
}
.ap-tag:before {
    content: "\54";
}
.ap-smile:before {
    content: "\55";
}
.ap-star:before {
    content: "\56";
}
.ap-queue:before {
    content: "\57";
}
.ap-video-camera:before {
    content: "\53";
}
.ap-order-up:before {
    content: "\58";
}
.ap-draft:before {
    content: "\59";
}
.ap-hamburguer:before {
    content: "\5a";
}
.ap-search:before {
    content: "\30";
}
.ap-comment:before {
    content: "\31";
}
.ap-google:before {
    content: "\32";
}
.ap-youtube:before {
    content: "\33";
}
.ap-calendar:before {
    content: "\34";
}
.ap-time:before {
    content: "\36";
}
.ap-chevron-down:before {
    content: "\35";
}
.ap-chevron-left:before {
    content: "\37";
}
.ap-chevron-right:before {
    content: "\38";
}
.ap-chevron-up:before {
    content: "\39";
}
.ap-arrow-down:before {
    content: "\21";
}
.ap-arrow-up:before {
    content: "\22";
}
.ap-info-2:before {
    content: "\23";
}
.ap-retweet:before {
    content: "\25";
}
.ap-ban:before {
    content: "\26";
}
.ap-bullhorn:before {
    content: "\27";
}
.ap-trophy:before {
    content: "\28";
}
.ap-location:before {
    content: "\29";
}
.ap-safe:before {
    content: "\24";
}
.ap-bookmark:before {
    content: "\2a";
}
.ap-collapse:before {
    content: "\2c";
}
.ap-reply:before {
    content: "\2d";
}
.ap-dot-3:before {
    content: "\2f";
}
.ap-link-to-post:before {
    content: "\2e";
}
.ap-attachment:before {
    content: "\3a";
}
.ap-facebook-square:before {
    content: "\3b";
}
.ap-envelope-o:before {
    content: "\3e";
}
.ap-money:before {
    content: "\3d";
}
.ap-clock-o:before {
    content: "\3c";
}
.ap-hand-up:before {
    content: "\3f";
}
.ap-pencil:before {
    content: "\40";
}
.ap-trash:before {
    content: "\5b";
}
.ap-luggage:before {
    content: "\5d";
}
.ap-world:before {
    content: "\5e";
}
.ap-cloud-download:before {
    content: "\5f";
}
.ap-love:before {
    content: "\60";
}
.ap-heart-1:before {
    content: "\60";
}
.ap-files-new:before {
    content: "\7d";
}
.ap-watch:before {
    content: "\7e";
}
.ap-play:before {
    content: "\5c";
}
.ap-question-dialog:before {
    content: "\e000";
}
.ap-hand-o-down:before {
    content: "\7b";
}
.ap-eye:before {
    content: "\7c";
}
.ap-power:before {
    content: "\e001";
}
.ap-help:before {
    content: "\e002";
}
.ap-user-add-1:before {
    content: "\6a";
}
.ap-menu:before {
    content: "\78";
}
.ap-google-plus:before {
    content: "\e003";
}
.ap-plus-square-o:before {
    content: "\2b";
}
.ap-check-1:before {
    content: "\e004";
}
.ap-clock:before {
    content: "\e005";
}
.ap-clock-dot:before {
    content: "\e006";
}
.ap-flag:before {
    content: "\e007";
}
.ap-external-link:before {
    content: "\e008";
}
.ap-hide:before {
    content: "\e00a";
}
.ap-faq:before {
    content: "\e00b";
}
.ap-image:before {
    content: "\e00c";
}
.ap-retweet-1:before {
    content: "\e009";
}
.ap-keyboard:before {
    content: "\e00d";
}
.ap-mobile-inbox:before {
    content: "\e00e";
}
.ap-mobile-eye:before {
    content: "\e00f";
}
.ap-mobile-pencil:before {
    content: "\e010";
}
.ap-thumbs-up:before {
    content: "\e011";
}
.ap-thumbs-down:before {
    content: "\e012";
}
.ap-mobile-list:before {
    content: "\e013";
}
.ap-star-o:before {
    content: "\e015";
}
.ap-mobile-hamburguer:before {
    content: "\e014";
}
.ap-play-circle:before {
    content: "\e016";
}
.ap-pencil-1:before {
    content: "\e017";
}
.ap-file:before {
    content: "\e018";
}
.ap-trash-1:before {
    content: "\e019";
}
.ap-info-circled:before {
    content: "\e01a";
}
.ap-alert-1:before {
    content: "\e01b";
}
.ap-disabled:before {
    content: "\e01c";
}
.ap-error-1:before {
    content: "\e01d";
}
.ap-add-1:before {
    content: "\e01e";
}
.ap-arrow-left:before {
    content: "\e020";
}
.ap-arrow-right:before {
    content: "\e021";
}
.ap-attachment-1:before {
    content: "\e023";
}
.ap-back:before {
    content: "\e024";
}
.ap-bitly:before {
    content: "\e025";
}
.ap-bookmark-1:before {
    content: "\e026";
}
.ap-calendar-1:before {
    content: "\e027";
}
.ap-camera-1:before {
    content: "\e028";
}
.ap-checkbox-big:before {
    content: "\e029";
}
.ap-checkbox-mini:before {
    content: "\e02a";
}
.ap-chevron:before {
    content: "\e02b";
}
.ap-chevron-left-1:before {
    content: "\e02c";
}
.ap-chevron-right-1:before {
    content: "\e02d";
}
.ap-clock-1:before {
    content: "\e02e";
}
.ap-close-1:before {
    content: "\e02f";
}
.ap-close-mini:before {
    content: "\e030";
}
.ap-credit-card:before {
    content: "\e033";
}
.ap-delete:before {
    content: "\e034";
}
.ap-disabled-1:before {
    content: "\e035";
}
.ap-dislike:before {
    content: "\e036";
}
.ap-dm:before {
    content: "\e037";
}
.ap-download:before {
    content: "\e038";
}
.ap-drag-and-drop:before {
    content: "\e039";
}
.ap-dropdown-down:before {
    content: "\e03a";
}
.ap-dropdown-up:before {
    content: "\e03b";
}
.ap-edit:before {
    content: "\e03c";
}
.ap-emoji:before {
    content: "\e03d";
}
.ap-emoji-line:before {
    content: "\e03e";
}
.ap-enlarge:before {
    content: "\e03f";
}
.ap-error-2:before {
    content: "\e040";
}
.ap-euro:before {
    content: "\e041";
}
.ap-exit:before {
    content: "\e042";
}
.ap-facebook-partner:before {
    content: "\e044";
}
.ap-file-1:before {
    content: "\e045";
}
.ap-film:before {
    content: "\e046";
}
.ap-filter-up:before {
    content: "\e047";
}
.ap-help-1:before {
    content: "\e048";
}
.ap-image-1:before {
    content: "\e049";
}
.ap-indeterminate-checkbox:before {
    content: "\e04a";
}
.ap-info:before {
    content: "\e04b";
}
.ap-info-line:before {
    content: "\e04c";
}
.ap-like:before {
    content: "\e04d";
}
.ap-like-hearth:before {
    content: "\e04e";
}
.ap-link-1:before {
    content: "\e04f";
}
.ap-list-1:before {
    content: "\e050";
}
.ap-mask:before {
    content: "\e051";
}
.ap-mention-1:before {
    content: "\e052";
}
.ap-menu-1:before {
    content: "\e053";
}
.ap-more-answer:before {
    content: "\e054";
}
.ap-notification:before {
    content: "\e055";
}
.ap-play-1:before {
    content: "\e056";
}
.ap-reply-1:before {
    content: "\e057";
}
.ap-retweet-2:before {
    content: "\e058";
}
.ap-save-replies:before {
    content: "\e059";
}
.ap-search-1:before {
    content: "\e05a";
}
.ap-send:before {
    content: "\e05b";
}
.ap-settings-1:before {
    content: "\e05c";
}
.ap-settings-line:before {
    content: "\e05d";
}
.ap-star-1:before {
    content: "\e05e";
}
.ap-success:before {
    content: "\e05f";
}
.ap-tag-1:before {
    content: "\e060";
}
.ap-task:before {
    content: "\e061";
}
.ap-up-down:before {
    content: "\e062";
}
.ap-upload:before {
    content: "\e063";
}
.ap-mobile:before {
    content: "\e064";
}
.ap-add-member:before {
    content: "\e065";
}
.ap-rss:before {
    content: "\e066";
}
.ap-shuffle:before {
    content: "\e067";
}
.ap-pause:before {
    content: "\e069";
}
.ap-comment-1:before {
    content: "\e031";
}
.ap-post-1:before {
    content: "\e068";
}
.ap-dm-line:before {
    content: "\e032";
}
.ap-conversation-line:before {
    content: "\e06a";
}
.ap-post-line:before {
    content: "\e06b";
}
.ap-star-line:before {
    content: "\e06c";
}
.ap-mention-line:before {
    content: "\e06d";
}
.ap-assign:before {
    content: "\e022";
}
.ap-bulk:before {
    content: "\e06e";
}
.ap-arrow-up-1:before {
    content: "\e06f";
}
.ap-arrow-down-1:before {
    content: "\e070";
}
.ap-gift:before {
    content: "\e071";
}
.ap-angle-down:before {
    content: "\e072";
}
.ap-agorapulse:before {
    content: "\e073";
}
.ap-fullstory:before {
    content: "\e074";
}
.ap-intecom:before {
    content: "\e075";
}
.ap-receptive:before {
    content: "\e076";
}
.ap-recurly:before {
    content: "\e077";
}
.ap-trash-o:before {
    content: "\e078";
}
.ap-extern-link:before {
    content: "\e043";
}
.ap-alert-2:before {
    content: "\e01f";
}
.ap-reports:before {
    content: "\e079";
}
.ap-phone-ring:before {
    content: "\e07a";
}
.ap-phone-clock:before {
    content: "\e07b";
}
.ap-exchange:before {
    content: "\e07c";
}
.ap-filter-add:before {
    content: "\e046";
}
.ap-filter-remove:before {
    content: "\e07d";
}
.ap-spam:before {
    content: "\e07e";
}
